*{
    margin: 0px;
    padding: 0px;
}
body{background-image: url("bg11.jpg");}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}
.logo h2{
    margin: 28px 0;
    padding: 0 100px;
    font-family:  Helvetica, sans-serif;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 175px;
}
li{
    padding: 30px 40px;
    list-style: none;
    font-size: 20px; 
}
li a {
    text-decoration: none; 
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.main-body{
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-content{padding-right: 50px; flex: 2;}

.main-content h1{
    font-family:  Helvetica, sans-serif;
    font-size: 50px;
}
.main-content p {
    font-size: 19px;
    margin: 40px 0;
    line-height: 26px; 
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
}
.main-content button{
    width: 160px; height: 50px;
    padding: 10px; margin: 20px 0;
    border: 2px solid black;
    background: transparent;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
}
.main-content button a{
    text-decoration: none;
    color: #fff; letter-spacing: 1px;
    padding: 15px 15px;

}
.main-img{flex: 1; padding-bottom: 50px;}

.main-img img{
     width:300px; height: 420px;
     box-shadow: 5px 5px 25px black;
 }

.hexagon{
    position: absolute;
    left: -100px;
    opacity: 0.1;
    height: 550px;
    top:94px;
    transform: rotate(22deg);
    z-index: -1;
}

 @media only screen and (max-width:700px){
     .header{
         flex-direction: column;
     }
     .main-body{
         flex-direction: column-reverse;
     }
     .nav{
         padding: 0 12%;
     }
     .main-content {
		margin-top: 5vh;
		text-align: center;
	}
	.main-content h1 {
		font-size: 30px;
	}
	.main-content p {
		font-size: 18px;
	}
	.main-img {
		height: 80%;
	}
 }